/**********COMMON******************/

body{
	font-family: 'Nunito', sans-serif;
	background: #f3f7f7;
	/*	font-family: 'Montserrat', sans-serif;*/
}


/*Common CSS*/
/* override position and transform in 3.3.x */
.carousel-inner .item.left.active {
  transform: translateX(-33%);
}
.carousel-inner .item.right.active {
  transform: translateX(33%);
}

.carousel-inner .item.next {
  transform: translateX(33%)
}
.carousel-inner .item.prev {
  transform: translateX(-33%)
}

.carousel-inner .item.right,
.carousel-inner .item.left { 
  transform: translateX(0);
}


.carousel-control.left,.carousel-control.right {background-image:none;}

#heading-background{
	position:absolute;
	z-index:0;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}
.intouch h4{
	margin: 0px;
	color: grey;
}
.intouch span{
	transform: translate(0,70%);
	margin-right: 25px;
	font-size: 40px;
}
.intouch p {
	font-weight: bold;
	padding-top: 5px;
	color: rgba(45,90,136);
	padding-left: 65px;
}
#cpr{
	margin: 40px 0 40px 0;
	color: white;
}
#bg-text
{
	color:lightslategray;
	font-size:100px;
	opacity: 0.1;
	text-align: center;
	font-weight:lighter;
}

#heading{
	color: #15477a;
	text-align: left;
	z-index:1;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	padding-top: 35px;
}
#tmdsp{
	color: #15477a;
	font-size: 15px;
	font-weight: bold;
}
.dtrans {
	position: absolute;
	transform: translate(0%,-30%);
}
.inbtn {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
.container .crd{
	border-radius: 15px;
	width: 100%;
	max-height: 300px;
	height: auto;
	box-shadow: 0 0 16px 0 #000;
}
.wrap h2{
	color: white;
	font-size: 30px;
	font-weight: bold;
	position: absolute;
	bottom: 50%;
	left: 25%;
}
.btn1 {
	position: absolute;
	bottom: 10%;
	left: 10%;
}
.btn2{
	position: absolute;
	bottom: 10%;
	right: 10%;
}
.wrap{
	position: relative;
}
.img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
.teambtn{
	background: white;
	color:#15477a;
	padding: 05px 30px 05px 30px;
	border:1px solid white;
	border-radius: 22px;
	font-size: 16px;
	letter-spacing: 0.8px;
	font-weight: bold;
	box-shadow: 0 6px 16px 0 rgba(115,143,147,.4);
	
}
.img-overlay:before {
  content: ' ';
  display: block;
  /* adjust 'height' to position overlay content vertically */
  height: 50%;
}
#head_sponsor{
	position:absolute;
	color: #15477a;
	text-align: right;
	z-index:1;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	padding-top: 35px;
}

#row-content{
	padding-top:140px;
}

#imun-partner, #imun-intro{
	padding:40px 0px 40px 0px;
}

/**************************************** Navbar************************************* */
.navbar-brand{
	color:white !important;
}
.navbar-brand p{
	margin-top: -48px;
	margin-left: 65px;
	font-size: 15px;

}
.nv-background{
	
}
.imgshad{
	box-shadow: 0 0 16px 0 rgba(115,143,147,.4);
	height: 250px;
	border: 0px;
}
.modcap{
	text-align: center;
	color: #15477a !important;
	font-weight: bold;
}

.navbar{
	border:0px solid white;
	background: transparent;
	border-radius:0px;
	box-shadow: 0 6px 16px 0 rgba(115,143,147,.4);
}
.navbar ul li a{
	color:white !important;
	font-weight: bolder;
	letter-spacing: 0.5px;
}
.navbar ul li:hover{
	border-bottom: 2px solid rgb(17,131,188);
}
.navbar-default .navbar-toggle .icon-bar {
	background: transparent !important;
	border:1px solid white;
	border-radius: 0px;
	height: 3px;
	width: 32px;
}

.navbar-right{
	padding-top: 10px;
}

.navbar .navbar-brand img {
	height: 70px;
	margin-top: -17px;
}
.navbar-default .navbar-toggle{
	margin-top: 22px;
	border-color:transparent !important;
	font-size: 32px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background: transparent !important;
	border-color:transparent !important;

}
div#navbar {
	margin-top: 8px;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	color: #555;
	background-color: transparent;
}
.navbar-nav>li>.dropdown-menu>li>a {
	color: black !important;
}


/*************Banner Section***************/

#imun-banner{
	background:url(images/banner.jpg) center center no-repeat fixed;
	color:black;
	text-align: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}
#imun-banner .overlay{
	/*	background: rgba(21,71,122,0.6)  repeat;*/
	background: linear-gradient(to left,rgba(20,32,52,0),rgba(20,32,52,1)) repeat; 
	background-size: cover;
	width:100%;
	height:100%;
	padding-top:200px;
	padding-bottom: 200px;
}
#imun-banner .banner-text h1{
	color:white;
	text-align: left !important;
	
	/*font-weight: bolder;*/
	line-height: 58px;
	padding-left:10px;
	font-size: 48px;
}
#imun-banner .banner-text{
	padding-bottom: 100px;
	padding-top: 20px;
}
#imun-banner .banner-text h3{
	color:white;
	font-size: 42px;
}
#imun_desp{
	text-align: left;
	font-size: 18px;
	padding-left:10px;
	color: white;
}
#imun-banner .btn{
	background: linear-gradient(to right,rgba(255,148,33,1),rgba(237,156,70,1.00),rgba(255,255,255,1)) repeat;
	color: white !important;
	padding: 05px 30px 05px 30px;
	border-radius: 22px;
	font-size: 13px;
	letter-spacing: 0.8px;
	box-shadow: 0 6px 16px 0 rgba(115,143,147,.4);
}
.ybtn{
	background: linear-gradient(to right,rgba(255,148,33,1),rgba(237,156,70,1.00),rgba(255,255,255,1)) repeat !important;
	color: white !important;
	padding: 05px 30px 05px 30px;
	border-radius: 22px;
	font-size: 13px;
	letter-spacing: 0.8px;
	box-shadow: 0 6px 16px 0 rgba(115,143,147,.4);
}
#imun-banner .btnkm{
	background: transparent !important;
}
#imun-banner .btn:hover{
	background: white !important;
	color:white;
	padding: 05px 30px 05px 30px;
	border:1px solid #15477a;
	border-radius: 22px;
	font-size: 16px;
	letter-spacing: 0.8px;
	font-weight: bold;
	box-shadow: 0 6px 16px 0 rgba(115,143,147,.4);
}
.imun-social i {
	color: rgba(255,148,33);
	font-size: 28px;
/*	padding-right: 20px;*/
	padding:10px 15px 10px 15px;
}
.cr2 .description
{
	position: absolute;
	top: 20%;
	left: 20%;
	width: 70%;
	color: white;
	font-size: 22px;
	letter-spacing: 0.8px;
	
}
.cr2 .pic{
}
.cr2 .pic img{
	border-radius: 50%;
	margin-top: 30px;
	max-width: 70%;
}
.cr2 .title{
	color: rgba(45,90,136);
	font-size: 20px;
	font-weight: bold;
	margin-left: 30px;
}
.cr2 .post{
	color: grey;
	font-style: italic;
	font-weight: 150;
	margin-left: 30px;
}
/******************************IMUN Intro*************************/
#imun-intro p{
	font-size: 16px;
	line-height: 24px;
	text-align: justify;

}
#imun-intro a{
	color:white;
}
#imun-intro .btn{
	background: #15477a;
	color:white;
	padding: 05px 30px 05px 30px;
	border:1px solid white;
	border-radius: 22px;
	font-size: 13px;
	letter-spacing: 0.8px;
	box-shadow: 0 6px 16px 0 rgba(115,143,147,.4);

}


/***********************************************IMUN PARTNERS***********************/
#imun-partner{
	background-image: url(images/imun_back.jpg) !important;
	background: white;
}
#imun-partner img{
	/*width:50%;
	margin-left: auto;
	margin-right: auto;
	display: block;*/
}

/******************************IMUN SPONSER******************************************/
#imun-sponser{
	padding-bottom: 30px;
}
#imun-sponser img{
	width:100%;
	margin-left: auto;
	margin-right: auto;
	display: block;

}

/*****************************IMUN TESTIMONIALS*********************************/
.testimonial{ 
	background: white;
	padding:14px 0px 14px 0px;
	height: 450px;
	box-shadow: 0 0 16px 0 rgba(115,143,147,.4);
}
.contactform{
	background: white;
	max-width: 300px;
	/*box-shadow: 0 0 16px rgba(115,143,147,.4);*/
}
.tp{
	/*margin-left: 15px;*/
	box-shadow: 0 0 16px rgba(115,143,147,.4);
	background: white;
	border-radius: 10px;
}
.contactform h3{
	padding: 20px 20px 0 20px;
	color: rgba(45,90,136);
}
.contactform form{
	margin: 20px;
}
.contactform .form-control{
	border-color: rgba(45,90,136);
	border-width: 1.4px;
	padding: 8px 12px;
	border-radius: 4px;
}
.contactform .lblt{
	font-size: 10px;
	padding: 0 8px 0 8px;
	margin: 0 20px 0 20px;
	background: white;
	transform: translate(0,80%);
	color: rgba(45,90,136);
} 
.contactform button{
	width: 100%;
	background: rgba(45,90,136);
	color: white;
}
.testimonial .pic{
	display: inline-block;
	height: 250px;
	border-radius: 50%;
	margin-left: 15px;
}
.testimonial .pic img{
	width: 200px;
	height: 200px;
	border-radius: 5%;
}
.testimonial .testimonial-profile{
	display: inline-block;
	position: relative;
	margin-left: 15px;
	text-align: center;
}
.testimonial .title{
	display: block;
	font-size: 16px;
	font-weight: bold;
	color: #15477a;
	text-align: center;
	text-transform: capitalize;
	margin: 14px 0 7px 0;
}
.testimonial .post{
	display: block;
	font-size: 14px;
	font-style: italic;
	color: rgba(155,155,155,1.00);
}
.testimonial .description{
	padding: 20px 22px;
	background: #1f487e;
	font-size: 15px;
	color: #fff;
	line-height: 25px;
	margin: 0;
	position: relative;
}
.testimonial .description:before,
.testimonial .description:after{
	content: "";
	border-width: 18px 0 0 18px;
	border-style: solid;
	border-color: #5d7aa7 transparent transparent;
	position: absolute;
	bottom: -18px;
	left: 0;
}
.testimonial .description:after{
	border-width: 18px 18px 0 0;
	left: auto;
	right: 0;
}
.owl-theme .owl-controls{
	margin-top: 10px;
	margin-left: 30px;
}
.owl-theme .owl-controls .owl-buttons div{
	opacity: 0.8;
	background: #fff;
}
.owl-prev:before,
.owl-next:before{
	content: "\f053";
	font-family: "FontAwesome"; font-weight: 900;
	font-size: 20px;
	color: #1f487e;
}
.owl-next:before{ content: "\f054"; }


/********************IMUN-FOOTER**********************/

#imun-footer{
	background: rgba(45,90,136);
	padding:30px 0px 0px 0px;
	color:#ceccce;
}
#imun-footer p{
	font-size: 17px;
	font-weight: 100;
	color: gainsboro;
	margin-top: 50px;
	text-align: left;
	letter-spacing: 0.9px;
}
#imun-footer h2{
	margin: 20px 0 20px 0;
	color: white;
}
#imun-footer .lister div{
	align-content: center;
	
}
#imun-footer .lister a{
	color: white;
	text-align: center;
	font-size: 15px;
}
#imun-footer .input-group-addon{
	background: #15477a;
	color:white;
	border:1px solid #15477a;
}
#imun-footer .col-md-4.input-group{
	box-shadow: 0 6px 16px 0 rgba(115,143,147,.4);
}
#imun-footer i{
	padding-right: 20px;
	border:1px solid #1f487e;
	text-align: center;
	padding:05px;
}



/*****RESPONSIVE****/

/* 
##Device = Desktops
##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
	#imun-detailed-conference .nav-tabs > li {
		float:none;
		display:inline-block;
		zoom:1;
	}

	#imun-detailed-conference .nav-tabs {
		text-align:center;
	}
	#imun-detailed-conference .tab-content{
		padding-top: 20px;
	}
	#imun-detailed-conference .nav-tabs > li > a{
		font-size: 17px;
	}

}

/* 
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
	#imun-detailed-conference .nav-tabs > li {
		float:none;
		display:inline-block;
		zoom:1;
	}

	#imun-detailed-conference .nav-tabs {
		text-align:center;
	}
	#imun-detailed-conference .tab-content{
		padding-top: 20px;
	}



}

/* 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {


	.navbar ul li a{
		color:white !important;
		font-weight: bolder;
		letter-spacing: 0.5px;
		font-size: 11px;
	}
	#imun-detailed-conference .nav-tabs > li {
		float:none;
		display:inline-block;
		zoom:1;
	}

	#imun-detailed-conference .nav-tabs {
		text-align:center;
	}
	#imun-detailed-conference .tab-content{
		padding-top: 20px;
	}
	/*
	.navbar-right{
	margin-top: -20px;
}
	*/

}

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	#imun-sponser img{
		width: 30%;
	}
	#imun-detailed-conference .nav-tabs > li {
		float:none;
		display:inline-block;
		zoom:1;
	}

	#imun-detailed-conference .nav-tabs {
		text-align:center;
	}
	#imun-detailed-conference .tab-content{
		padding-top: 20px;
	}


}

/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
	.navbar{
		padding-bottom: 0px; 
	}
	#bg-text
	{
		color:lightslategray;
		font-size:20px;
		opacity: 0.1;
		text-align: center;
		font-weight:lighter;
	}
	#imun-sponser img{
		width: 30%;
	}
	#imun-detailed-conference .nav-tabs>li>a {
		margin-right: -8px;
		line-height: 1.42857143;
		border: 1px solid transparent;
		border-radius: 4px 4px 0 0;
		font-size: 13px;
	}
	.navbar-nav .open .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: white;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	span.pull-right.footer-social {
		padding-top: 25px;
	}
	


}

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

	#imun-banner .banner-text h1{
		color:white;
		text-align: center;
		font-weight: bolder;
		line-height: 38px;
		font-size: 32px;

	}
	.navbar{
		padding-bottom: 10px;  

	}
	#bg-text
	{
		color:lightslategray;
		font-size:40px;
		opacity: 0.1;
		text-align: center;
		font-weight:lighter;
	}
	#imun-sponser img{
		width: 50%;
	}
	#imun-detailed-conference .nav-tabs>li>a {
		margin-right: -9px;
		line-height: 1.42857143;
		border: 1px solid transparent;
		border-radius: 4px 4px 0 0;
		font-size: 13px;
	}
	.navbar-nav .open .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: white !important;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	span.pull-right.footer-social {
		padding-top: 25px;
	}

}
