
.sponser{
    box-shadow:  -2px -2px 8px rgba(225,225,225,1),
                 -2px -2px 12px  rgba(225,225,225,.5),
          inset  2px 2px 4px  rgba(225,225,225,.1),
                  2px 2px 8px  rgba(0,0,0,.15);
      background: white;
}
.sponser:hover{
    box-shadow: inset -5px -5px 8px rgba(225,225,225,1),
                inset -5px -5px 12px  rgba(225,225,225,.5),
                inset  5px 5px 4px  rgba(225,225,225,.1),
                inset  5px 5px 8px  rgba(0,0,0,.15);
  
}
.sponser:hover{
    transform: scale(0.98);
}