@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-image: url(../../img/bg_events.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Bangers', cursive; 
   
}
.mybtn{
    border: 1px solid #ff9933;
    background: #ff9933;
    color: black;
    
}
.mybtn:hover{
    border: 1px solid black;
    background: black;
    color: #ff9933;
    
}


.banner-container{
   position: relative;

}
.banner-content{
    position: absolute;
    z-index: 1;
    bottom: 50%;
    left: 10%;
}
.nav-bar{
    position: absolute;
    z-index: 1;
    width: 100%;
    
    
}
.banner-btn{
    position: absolute;
    z-index: 1;
    bottom: 30%;
    
}
#ambsdrBtn{
    opacity: 0;
    transform: translateX(20px);
    transition: all 2s ease;
}
#ragisterBtn{
    opacity: 0;
    transform: translateX(-20px);
    transition: all 2s ease;
    
}
.nav-pg{
    background:black;
    position: relative;
   
}
.nav-tra{
    transition: all 1s linear;
}
.nav-bar a{
color: white;
    font-size: 1.1rem;
}
#toggle-btn{
    outline: none;
    color: white;
    font-size: 1.5rem;
    
}
.about{
    background: linear-gradient(#67b26f , #4ca2cd);
    opacity: .9;
    position: relative;
    
   
   
}
.main-heading{
    color: white;
    
}
.main-heading h1{
    font-size: 4rem;
    text-shadow: 5px 7px 5px black;
    
    
}
.title{
    opacity: 0;
    transform: translateY(20px);
    transition: all 2s ease;
}
.caption{
    opacity: 0;
    transform: translateY(-20px);
    transition: all 2s ease;
    
}

.banner-btn a{
    text-decoration: none;
    border: 4px solid black;
    padding: 10px;
    border-bottom-left-radius: 7px;
    border-top-right-radius: 7px;
    font-size: 1rem;
    color: white;
    background: black;
    font-weight: 300;
    
    
    
    
}
.banner-btn a:hover{
   color: black;
    background: white;
    border: 4px solid white;
    

}
.abtImg{
    box-shadow: 0px 3px 10px 3px black;
}
.abt-content{
    transform: translateY(100px);
    opacity:0;
    transition: all 4s ease;

}
.abt-content p{
    color: white;
}
.abt-content h1{
    color: white;
    margin-left: -20px;
}
.abt-img-container{
    transform: translateY(-150px);
    opacity: 0;
    
    transition: all 5s ease;
}

@media screen and (min-width:960px){
    .navbar-list{
   
    margin-left: 800px;
    
}
    .banner-content{
        left: 40%;
    }
    .tb{
        margin-left:280px;
    }
    .banner-btn{
       left: 40%; 
    }
    
    
}
@media screen and (max-width:960px){
    
    .tb{
        margin-left:px;
    }
    .banner-btn{
       left: 5%; 
    }
    
}
.footer{
    background-color: black;
    
    color: white;
}







